<form class="table table-striped dropzoneContainer files">
    <span style="margin-right:10px;">
        <button data-dz-remove class="btn btn-danger" title="Remove File" style="padding: 4px 9px;">
            <i class="fa fa-trash"></i>
        </button>
    </span>
    <span class="file-row">
        <!-- This is used as the file preview template -->
        <span class="name" data-dz-name></span>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </span>
        <span class="size" data-dz-size></span>
</form>
